body {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
}

header {
    margin-top: 50px;
}

section {
    max-width: 250px;
    margin: 200px auto 2px auto;
}

footer {
    bottom: 0;
}