@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font: inherit;
}

:root {
    font-size: 20px
}

body {
    background-color: #283240;
    color: white;
    font-family: Poppins, sans-serif;
    width: 100vw;
    height: 100vh;
}

main {
    width: 60%;
    overflow: auto;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.title-container {
    position: absolute;
    width: 100%;
}

h1 {
    letter-spacing: 2.2px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.container-size {
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.program-container {
    top: 50%;
    transform: translateY(-50%);
}

.result-container {
    top: 50%;
    transform: translateY(-50%);
}

#number-input {
    display: block;
    position: relative;
    height: 40px;
    margin: 0 auto;
}

#insert-input {
    display: block;
    position: relative;
    height: 40px;
    margin: 0 auto;
}

#finish-input {
    display: block;
    position: relative;
    height: 40px;
    margin: 0 auto; 
}