@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font: inherit;
}

:root {
    font-size: 20px
}

body {
    background-color: #283240;
    color: white;
    font-family: Poppins, sans-serif;
    width: 100vw;
    height: 100vh;
}

main {
    width: 60%;
    overflow: auto;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.title-container {
    display: block;
    position: relative;
    width: 100%;
}

h1 {
    letter-spacing: 2.2px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.father-container {
    position: absolute;
    top: calc(50% + 1rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputs {
    display: block;
    position: relative;
    height: 35px;
    margin: 0 auto 10px auto;
    border-radius: 10px;
}

.number-input {

}

.insert.input {

}

.finish-input {
    margin: 0;
}

.select-style {
    display: block;
    margin: 0 auto 10px auto;
    background-color:;
}